<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    autoReload="true" 
    internalLogLevel="Info"
    throwConfigExceptions="true"
    internalLogFile="logs\nlog-Internal.log">

  <targets async ="true">
    <target xsi:type="Null" name="blackhole" />
    <target xsi:type="OutputDebugString" name="debugLogger" layout="${message}${exception:format=tostring}" />
    <target name="FACTSBookingLog" xsi:type="File" archiveAboveSize="2000000" maxArchiveFiles="7" archiveEvery="Day"
          fileName="${currentdir}\logs\FactsGenericBookingApi-${shortdate}.log"
          layout="${longdate}${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring} ${all-event-properties}"/>
    <!--Npgsql.NpgsqlConnection,Npgsql, Version=4.0.7.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7-->
    <!--
    CREATE TABLE public.sys_log (
	id serial NOT NULL,
	log_level varchar(1000) NULL,
	log_logger varchar(255) NULL,
	log_message text NULL,
	log_exception text NULL,
  log_source varchar(200) NULL,
	app_type varchar(500) NULL,
	device_name varchar(25) NULL,
	log_date timestamp not null default CURRENT_TIMESTAMP,
	CONSTRAINT sys_log_pk PRIMARY KEY (id)
);
    -->
    <target name="VLMS_DB" xsi:type="Database">
      <dbProvider>
        Npgsql.NpgsqlConnection,Npgsql, Version=4.1.3.1, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7
      </dbProvider>
      <connectionString>${var:connectionString}</connectionString>
      <commandText>
        insert into sys_log ( log_level,log_logger,log_message,log_exception,log_source, app_type, device_name)
        values (@log_level,@log_logger,@log_message,@log_exception,@log_source,@app_type,@device_name);
      </commandText>
      <parameter name="@log_level" layout="${level}" />
      <parameter name="@log_logger" layout="${logger}" />
      <parameter name="@log_message" layout="${message}"/>
      <parameter name="@log_exception" layout="${exception:tostring}" />
      <parameter name="@log_source" layout="${aspnet-request-url}| action: ${aspnet-mvc-action}" />
      <parameter name="@app_type" layout="FACTSBooking" />
      <parameter name="@device_name" layout="${machinename}" />
      <!--<parameter name="@log_date"   layout="${date}" />-->
    </target>
  </targets>
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <rules>
    <logger name="*" minlevel="info" writeTo="debugLogger"></logger>
    <logger name="Microsoft.*" maxlevel="info" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Warn" writeTo="VLMS_DB">
      <when condition="length('${var:connectionString}') &lt; 1" action="IgnoreFinal" />
    </logger>
    <logger name="FACTS.*" level="Info" writeTo="VLMS_DB">
      <when condition="length('${var:connectionString}') &lt; 1" action="IgnoreFinal" />
    </logger>
    <logger name="FACTS.*" minlevel="Info" writeTo="FACTSBookingLog"/>
    <logger name="Microsoft.*" minlevel="Warn" writeTo="FACTSBookingLog"/>
    <logger name="System.Net.*" minlevel="Warn" writeTo="FACTSBookingLog"/>
  </rules>
</nlog>